.shopping-page {
  padding: 4rem;
  width: 100%;
  //   background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10rem;
  border-right: 4px solid #b4d4ff;
}
